body {
    background-color: #b4bbbf;
}

#search {
    display: grid;
    width: 100vw;
    grid-template-columns: 3fr 1fr 1fr 1fr;

}

.getTeam-btn {
    background-color: #ededed;
    color: black;
    border-color: gray;

}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100vw;
    column-gap: 10px;
    row-gap: 15px;
    /* padding: 5px; */
    /* background-color: orange; */
}

.player {
    background-color: #ff9b28;
    align-self: center;
    padding: 7px;
}

.player-pic-container {
    background-color: #b4bbbf;
    box-shadow: 1px 1px black;
    padding-top: 5px;

}

.player-pic {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    color: black;
    text-align: center;
}

#bday-label {
    color: black;
}

.btn-group {
    padding: 10px 24px;
    width: 100%;
    cursor: pointer;


}

.btn-stats {
    margin-left: auto;

}